/* ICON */

	.icon {
		width: 180px;
		height: 180px;
		background-color: #fff;
		}
		
		.icon img{
			background-color: #fff;
			margin-top: 53px;
			animation: icondropreverse .25s ease forwards;
			-webkit-animation: icondropreverse .25s ease forwards;
			}
		.icon img:first-child {
			z-index: 0;
			}
			
		.icon p {
			color: #000;
			text-align: center;
			margin-top: 10px;
			animation: fadein .25s ease forwards;
			-webkit-animation: fadein .25s ease forwards;
			}

	.iconactive {
		box-shadow: inset 0 0 20px #888;
		-webkit-box-shadow: inset 0 0 20px #888;
		}
		
	img.pauseicon {
		position: absolute;
		margin: 53px 0 0 -55px;
		animation: iconactive-pulse 10s ease infinite;
		-webkit-animation: iconactive-pulse 10s ease infinite;
		z-index: -1;
		}

		/* ICONACTIVE PULSE */
		@keyframes iconactive-pulse {
			0% {opacity: 0;}
			20% {opacity: 0;}
			40% {opacity: 1;}
			70% {opacity: 1;}
			90% {opacity: 0;}
			100% {opacity: 0;}
			}
		@-webkit-keyframes iconactive-pulse {
			0% {opacity: 0;}
			20% {opacity: 0;}
			40% {opacity: 1;}
			70% {opacity: 1;}
			90% {opacity: 0;}
			100% {opacity: 0;}
			}
	
/* END ICON */

/* WRAPPER */
	
	.wrapper {
		width: 180px;
		position: absolute;
		margin: -180px 0 0 -90px;
		}

	@-moz-document url-prefix() {
		.wrapper {
			margin: 0 0 0 -180px;
			}
		}	

		/* IE POSITIONING */

		@media screen\0 {
			.wrapper { 
				z-index: 10;
				margin: 0 0 0 -183px; 
			}
		} 

		/* SAFARI ONLY POSITIONING */

		@media screen and (-webkit-min-device-pixel-ratio:0){
			::i-block-chrome,.wrapper {
				margin: -180px 0 0 0;
				}  
			}

/* END WRAPPER */

/* AUDIO PLAYER */
	
	.audioplayer
	{
		width: 180px;
		height: 180px;
		color: #000;
		position: relative;
		z-index: 1;
	}

		.audioplayer-mini
		{
			width: 2.5em; /* 40 */
			margin: 0 auto;
		}
		.audioplayer > div
		{
			position: absolute;
		}
	
/* END AUDIO PLAYER */

/* PLAY/PAUSE */

	.audioplayer-playpause
	{
		width: 180px;
		height: 180px;
		text-align: left;
		text-indent: -9999px;
		cursor: pointer;
		z-index: 1;
		top: 0;
		left: 0;
	}

		.audioplayer-mini .audioplayer-playpause
		{
			width: 100%;
		}
		.audioplayer-playpause:hover,
		.audioplayer-playpause:focus
		{
			box-shadow: inset 0 0 20px #888;
			-webkit-box-shadow: inset 0 0 20px #888;
			opacity: 0.3;
		}
			.audioplayer-playpause:active,
			.audioplayer-playpause:focus
			{
				box-shadow: inset 0 0 20px #888;
				-webkit-box-shadow: inset 0 0 20px #888;
				opacity: 1;
				-webkit-transition: none;
				-moz-transition: none;
				-ms-transition: none;
				-o-transition: none;
				transition: none;
			}
			
/* END PLAY/PAUSE */

/* VOLUME */

	.audioplayer-volume
	{
		width: 26px; /* 40 */
		height: 100%;
		text-align: left;
		text-indent: -9999px;
		cursor: pointer;
		z-index: 1;
		top: 0;
		right: 0;
	}
	
		.audioplayer-volume:hover  .audioplayer-volume-button,
		.audioplayer-volume:hover  .audioplayer-volume-adjust {
			opacity: 1;
			}
			
		.audioplayer-volume-button
		{	
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.2;
		}
		
		.audioplayer-volume-button a
			{
				width: 0.313em; /* 5 */
				height: 0.375em; /* 6 */
				background-color: #007fd1;
				display: block;
				position: relative;
				z-index: 1;
				top: 90%;
				left: 18%;
			}
				.audioplayer-volume-button a:before,
				.audioplayer-volume-button a:after
				{
					content: '';
					position: absolute;
				}
				.audioplayer-volume-button a:before
				{
					width: 0;
					height: 0;
					border: 0.5em solid transparent; /* 8 */
					border-left: none;
					border-right-color: #007fd1;
					z-index: 2;
					top: 50%;
					right: -0.25em;
					margin-top: -0.5em; /* 8 */
				}
				.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after
				{
					/* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */
					width: 0.313em; /* 5 */
					height: 0.313em; /* 5 */
					border: 0.25em double #007fd1; /* 4 */
					border-width: 0.25em 0.25em 0 0; /* 4 */
					left: 0.563em; /* 9 */
					top: -0.063em; /* 1 */
					-webkit-border-radius: 0 0.938em 0 0; /* 15 */
					-moz-border-radius: 0 0.938em 0 0; /* 15 */
					border-radius: 0 0.938em 0 0; /* 15 */
					-webkit-transform: rotate( 45deg );
					-moz-transform: rotate( 45deg );
					-ms-transform: rotate( 45deg );
					-o-transform: rotate( 45deg );
					transform: rotate( 45deg );
				}
				
		.audioplayer-volume-adjust
		{
			height: 6.25em; /* 100 */
			cursor: default;
			position: absolute;
			left: 0;
			right: 5px;
			top: 0;
			z-index: 1;
			opacity: 0.2;
		}
			
				.audioplayer-volume-adjust > div
				{
					width: 40%;
					height: 75%;
					background-color: #ddd;
					cursor: pointer;
					position: absolute;
					z-index: 1;
					left: 30%;
					top: 10%;
				}
					.audioplayer-volume-adjust div div
					{
						width: 100%;
						height: 100%;
						position: absolute;
						bottom: 0;
						left: 0;
						background: #007fd1;
						background: -webkit-gradient( linear, left bottom, left top, from( #007fd1 ), to( #33CCFF ) );
						background: -webkit-linear-gradient( bottom, #007fd1, #33CCFF );
						background: -moz-linear-gradient( bottom, #007fd1, #33CCFF );
						background: -ms-radial-gradient( bottom, #007fd1, #33CCFF );
						background: -o-linear-gradient( bottom, #007fd1, #33CCFF );
						background: linear-gradient( bottom, #007fd1, #33CCFF );
					}
				
/* END VOLUME */

/* HIDE */

	.audio .audioplayer-bar, .audioplayer-time-duration, .audioplayer-time-current{
		visibility: hidden;
		}

/* END HIDE */

/* EFFECTS */

	.audioplayer-volume-adjust div div,
	.audioplayer-bar-played
	{
		-webkit-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
		-moz-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
		box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
	}

	.audioplayer *,
	.audioplayer *:before,
	.audioplayer *:after,
	nav li,
	.soundscroll
	{
		-webkit-transition: color .25s ease, background-color .25s ease, opacity .25s ease-in-out, -webkit-box-shadow .25s ease;
		-moz-transition: color .25s ease, background-color .25s ease, opacity .25s ease-in-out, box-shadow .25s ease;
		-ms-transition: color .25s ease, background-color .25s ease, opacity .25s ease-in-out, box-shadow .25s ease;
		-o-transition: color .25s ease, background-color .25s ease, opacity .25s ease-in-out, box-shadow .25s ease;
		transition: color .25s ease, background-color .25s ease, opacity .25s ease-in-out, box-shadow .25s ease;
	}
	
/* END EFFECTS */